html {
	font-size: 16px;
	color: #222;
	height: 100vh;
}

body {
	background: url('https://s19.postimg.org/bnvhgtumb/playground-bg.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.header {
	h1 {
		font: {
			size: 2.6rem;
		}
	}
	h2 {
		font: {
			size: 1.5rem;
		}
		margin: {
			top: 0;
			bottom: 0.75rem;
		}
	}
}

.player {
	font: {
		size: 1.25rem;
		weight: 300;
	}
	margin: {
		top: 1rem;
	}
}

.score-box {
	border: 1px solid #222;
	border-radius: 0.2rem;
	font: {
		size: 2rem;
		weight: 500;
	}
}

#game {
	margin: {
		bottom: 0;
	}
}

#game-result {
	font: {
		size: 2.5rem;
	}
}

#game-winner {
	font: {
		size: 3.5rem;
	}
}

img {
	margin: {
		top: 1rem;
	}
}

.point {
	font: {
		size: 1.3rem;
	}
	margin: {
		top: 0;
	}
}









// PAPER: 		https://s19.postimg.org/yk8bcwmyr/paper-sm.png
// ROCK: 			https://s19.postimg.org/rv1rww1mr/rock-sm.png
// SCISSORS: 	https://s19.postimg.org/tbdaf14jn/scissors-sm.png